.header .menu{
    display: none;
}

.header .burger-menu{
    display: block;
    text-align: right ;
}

.header .logo h1{
    margin:0;
}
.header .main-page {
    height: 50vh;
   }
.header .main-title {
  text-align: center;
  position: absolute;
  top: 90px;
  left: 40px;
}

.header .main-title h1{
    font-size: 25px;
 
}

.header .main-title .main-buttons{
    padding: 0;
    margin: 0 !important;
}

.about-page .image-side img{
    width: 100%;
}

.about-page .description-side{
    margin-top: 50px;
    
}


#products .products-lines .product-main-title{
    display: block !important;
}

#products .products-lines .product-main-title .product-main-buttons{
    margin-top: 25px;
}

.visit-page .visit-page-main{
    display: block !important;
}

.visit-page .visit-page-main .visit-button button{
    margin-bottom: 30px;
}

.client-card .card{
    margin-top: 20px;
}


.footer .footer-block{
    display: block !important;
}

.footer .footer-adres{
    margin-top: 20px;
    display: block !important;
}
.footer .footer-menu , .footer-news{
    display: none !important;
}
